// more margin between buttons
//PG-13 symbol?

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// page & font styling

body {
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	background: rgb(232, 234, 239);
}

.outerWrapper {
	margin: 0 auto;
	position: relative;
}

.innerWrapper {
	background: whitesmoke;
	max-width: 980px;
	padding: 30px 100px 0 100px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	border: 1px solid #04151F;
}

p {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-size: 15px;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 400;
	line-height: 2;
}

h1 {
	font-size: 4.4rem;
	line-height: 1;
	font-weight: 300;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	border-top: 1px solid #04151F;
	border-bottom: 1px solid #04151F;
	padding: 20px 0;
	position: relative;
	span.larger {
		font-size: 4.7rem;
	}
}

h1 img:first-child {
	width: 77px;
	height: 100px;
	position: absolute;
	left: 40px;
	top: 3px;
}

h1 img:last-child {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 40px;
	top: 25px;
}

h2 {
	font-size: 2rem;
	letter-spacing: 2px;
	font-weight: 300;
	text-align: center;
	font-family: 'Dosis', sans-serif;

}

img.sunglassesGuy {
		position: absolute;
		left: 0px;
		width: 113px;
	}

a {
	margin: 0;
	padding: 0;
}

// header styling

header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	img.text {
		 width: 175px;
   		 margin-left: 2px;
   		 position: relative;
   		 top: 2px;
	}
	img.creepFace {
		width: 100px;
		position: relative;
		left: 10%;
		top: -20px;
	}
	img.woman {
		    width: 205px;
		    position: relative;
			right: 10%;
		    top: 17px;
	}
	p {
		text-transform: uppercase;
		text-align: center;
		margin: 30px auto;
		font-size: 0.8rem;
	}
}

// quiz form section formatting

.question {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;
	h2 {
		width: 100%;
	}
	.h2Wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		span.number {
			font-size: 2rem;
		}
	}
}

.question1 {
	position: relative;
	i.fa {
		position: absolute;
		right: -50px;
		top: -183px;
		font-size: 110px;
		z-index: 1;
		display: none;
	}
}

.question2 {
	position: relative;
	// img.geraldo {
	// 	position: absolute;
	// 	width: 150px;
	// 	right: -175px;
	// 	top: -70px;
	// 	transition: 3s all;
	// 	display: none;
	// }
	// img.geraldo.moveLeft {
	// 	right: -143px;
	// }
	i.fa {
		font-size: 10rem;
		margin-right: 40px;
		color: rgba(4,21,31,0.8);
		position: absolute;
		left: -90px;
		top: 11px;
	}
}

// answer section formatting

section.answerField {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	img {
		max-width: 400px;
	}
}

div.comeback {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

div.action {
	max-width: 450px;
	margin: 0 auto;
}

section.answerWrapperOuter {
	display: none;
	a {
		text-transform: uppercase;
		font-size: 1.4rem;
		font-size: 14px;
		padding: 10px 0;
		text-align: center;
		font-weight: 700;
		text-decoration: none;
		color: #F91D1D;
	}

	h2 {
		font-weight: bold;
	}
}

section.answerWrapperInner {
	margin: 100px 0;
	i {
		text-align: center;
		display: inline;
		padding: 0 5px;
		color: #F91D1D;
	}
}

// special class for javascript

section.answerWrapperOuter.displayBlock {
	display: block;
}

// footer section formatting

footer {
	width: 100%;
	background: #04151F;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	margin: 30px auto 0 auto;
	font-size: 0.7rem;
	letter-spacing: 2.5px;
	font-weight: 300;
	text-transform: none;
	p {
		text-transform: none;
		font-size: 0.8rem;
		line-height: 2;
	}
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: white;
	}
	.action a {
		letter-spacing: 3px;
	}
	a:hover {
		border-bottom: 1px solid #FF9F1C;
		padding-bottom: 5px;
	}
}


// styling for form elements

input:focus {
	outline: none;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	background: #04151F;
	height: 130px;
	width: calc(33% - 40px);
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	z-index: 999;
}

input[type=radio]:checked + label {
	background: #FF9F1C;
	p {
		color: #04151F;
	}
}

label p {
	color: whitesmoke;
	width: 75%;
	padding: 20px 0;
	border-radius: 5px;
}

section.answer {
	display: none;
	border: 1px solid black;
	padding: 5px;
}

div.comeback {
	text-align: center;
	border: 4px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 70px;
    background-color: rgb(232, 234, 239);
    box-shadow: 2px 2px 10px 10px lightgrey inset;
    	p {
    		    letter-spacing: 1px;
   				font-size: 14px;
   				line-height: 2;
    	}

}



input[type=submit] {
	background: #F91D1D;
	color: white;
	border: 0;
	text-transform: uppercase;
	padding: 30px 50px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
	font-size: 15rem;
	font-size: 15px;
	margin: 0 auto;
	border-radius: 10px 10px 10px 10px;
}

input[type=submit]:focus {
	background: grey;
}

div.submit {
	text-align: center;
	div.submitInner {
		position: relative;
		display: inline;
		text-align: center;
	}


	i.fa-frown-o {
		position: absolute;
		color: white;
		font-size: 20px;
		top: -48px;
		left: 45px;
	}
}

div.action {
	font-size: 2.4rem;
    line-height: 1;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    border: 1px solid #04151F;
    padding: 60px 20px;
}

h2.uplift {
	padding-bottom: 30px;
}


@media all and (max-width: 480px) {
	body {
		background: red;
	}
	input[type=radio] + label {
		flex-direction: column;
	}
}